# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
cmake-build-release/
.idea/**/mongoSettings.xml
*.iws
*.iml
*.log
out/
target
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
